html {
    scroll-behavior: smooth;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}
.post__container {
    max-width: 65rem;
}

.post figure {
    margin: 2.5rem
}

.post {
    max-width: 40rem;
    text-align: justify;
}

.footnotes {
    margin-top: 2.5rem;
    font-size: medium;
}

#grid-gallery figure{
    margin:0;
}